<div id="qhpiQ8N7AfN6Ytzn" style="display:grid;position:relative;grid-area:5 / 19 / 8 / 21;">
    <div id="IutEyvHedX9faY1a" style="display:grid;position:relative;grid-area:2 / 2 / 3 / 3;">
        <div id="iwVh9YKw4tLvAAJe" style="z-index:8;">
            <div id="G0bHj53GIpUnIdJx" style="position:absolute;top:0px;left:0px;width:100%;height:100%;">

                <svg preserveAspectRatio="none" id="NoBu0g7atxj6vGkV" viewBox="0 0 157.0819 89.9666"
                    style="width:100%;height:100%;opacity:1.0;overflow:hidden;position:absolute;top:0%;left:0%;background:url('data:image/png;base64,');">
                    <g id="lUTZsttFAyBl84z7" style="transform:scale(1, 1);">
                        <g id="k9DG8hjQ2wQDIOlm" style="clip-path:url(#g99Blar7oIAWKVSJ);">
                            <clipPath id="g99Blar7oIAWKVSJ">
                                <path
                                    d="M141.08188303,0 L16,0 L0,44.98328093 L16,89.96656186 L141.08188303,89.96656186 L157.08188303,44.98328093 L141.08188303,0 Z">
                                </path>
                            </clipPath>
                            <path id="hH9s50Inc8fyHZUB"
                                d="M141.08188303,0 L16,0 L0,44.98328093 L16,89.96656186 L141.08188303,89.96656186 L157.08188303,44.98328093 L141.08188303,0 Z"
                                style="fill:#000000;opacity:1.0;"></path>
                            <path id="GF2S2vu21pPwkKhQ"
                                d="M141.08188303,0 L16,0 L0,44.98328093 L16,89.96656186 L141.08188303,89.96656186 L157.08188303,44.98328093 L141.08188303,0 Z"
                                style="fill:none;stroke-linecap:butt;vector-effect:non-scaling-stroke;stroke:#000000;">
                            </path>
                        </g>
                    </g>
                </svg>

            </div>
        </div>
        <div id="ApKI984zjIzyRJks" style="display:grid;position:relative;grid-area:3 / 3 / 5 / 6;">
            <div id="Hw0Y3DWARV4qdMU6" style="display:grid;position:relative;grid-area:2 / 2 / 3 / 3;">
                <div id="myHCUaaDbB08j86W" style="z-index:11;">
                    <div id="E8MjioGfW0Kbw3FR" style="position:absolute;top:0px;left:0px;width:100%;height:100%;">

                        <svg preserveAspectRatio="none" id="kaUyepo41ilUORsS" viewBox="0 0 168.1343 93.1698"
                            style="width:100%;height:100%;opacity:1.0;overflow:hidden;position:absolute;top:0%;left:0%;background:url('data:image/png;base64,');">
                            <g id="qvcBocgRqCunIRY4" style="transform:scale(1, 1);">
                                <g id="KFqxNUEe4vPXpd5g" style="clip-path:url(#GUMi4UmXPzuI6nkZ);">
                                    <clipPath id="GUMi4UmXPzuI6nkZ">
                                        <path
                                            d="M152.13425956,0 L16,0 L0,46.58489226 L16,93.16978453 L152.13425956,93.16978453 L168.13425956,46.58489226 L152.13425956,0 Z">
                                        </path>
                                    </clipPath>
                                    <path id="pMD2tTrarCgfgFJL"
                                        d="M152.13425956,0 L16,0 L0,46.58489226 L16,93.16978453 L152.13425956,93.16978453 L168.13425956,46.58489226 L152.13425956,0 Z"
                                        style="fill:#edcc9a;opacity:1.0;"></path>
                                    <path id="gLDckFilyqKpr96e"
                                        d="M152.13425956,0 L16,0 L0,46.58489226 L16,93.16978453 L152.13425956,93.16978453 L168.13425956,46.58489226 L152.13425956,0 Z"
                                        style="fill:none;stroke-linecap:butt;vector-effect:non-scaling-stroke;stroke:#000000;">
                                    </path>
                                </g>
                            </g>
                        </svg>

                    </div>
                </div>
                <div id="u9D1diezp4ukBx98" style="z-index:12;">
                    <div id="deX3g1g2YFrDkJtG"
                        style="opacity:1.0;display:flex;box-sizing:border-box;flex-direction:column;justify-content:center;width:100%;height:100%;">
                        <p id="YcK8BaVu8IwAIlkI"
                            style="color:#000000;direction:ltr;font-family:YAEihaFxr4g-0;margin-left:0em;line-height:1.39772886em;text-align:center;text-transform:none;letter-spacing:0em;">
                            <span id="r3kWDB6Dx1sUK3WL" style="text-decoration-line:none;color:#000000;">{{text}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>